In [11]:
import scipy.stats as st
from scipy.stats import poisson
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [3]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')

In [4]:
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [5]:
df = df.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'])

In [6]:
df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
v1    5572 non-null object
v2    5572 non-null object
dtypes: object(2)
memory usage: 87.1+ KB

In [8]:
df = pd.get_dummies(df, columns=['v1']).drop(columns=['v1_ham'])

In [9]:
x_bar = df.v1_spam.sum()/5572
x_bar

0.13406317300789664

In [12]:
rv = poisson(x_bar)
rv

In [13]:
h0 = .125
n = len(df)
s = df.v1_spam.std(ddof=1)
se = s/np.sqrt(n)

In [14]:
z_value = (x_bar - h0)/se
z_value

1.985404480388316

In [17]:
st.zscore(df.v1_spam)

array([-0.39347002, -0.39347002,  2.54148972, ..., -0.39347002,
       -0.39347002, -0.39347002])

In [18]:
1 -st.norm.cdf(z_value) # Part 2 - Reject the null hypothesis

0.023549743949760393

In [21]:
lam = df.v1_spam.sum()/28
lam

26.678571428571427

In [24]:
rv = poisson(lam)
1 - rv.cdf(30) # probability of >= 30 emails/day

0.2251758885540568